@page "/Samples/ServerSessionCounter2"
@rendermode InteractiveServerWithoutPrerendering

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage storage
@inject NavigationManager nav

<PageTitle>セッション型カウンター</PageTitle>

<h1>セッション型カウンター（2ページ目）</h1>

@if (currentCount.HasValue)
{
    <p role="status">Current count: @currentCount</p>
    <button class="btn btn-info" @onclick="DecrementCount">減らす</button>
    <button class="btn btn-info" @onclick="BackToPreviousPage">前のページへ</button>
}
else
{
    <p>データを取得中です...</p>
}

<p>このコンポーネントは現在 @(OperatingSystem.IsBrowser() ? "WASM" : "Server") で動作しています。</p>

@code {
    private int? currentCount = 0;
    private static string COUNTER_KEY = "Samples.SessionCounter.CurrentCount";

    protected override async Task OnInitializedAsync()
    {
        var result = await storage.GetAsync<int>(COUNTER_KEY);
        currentCount = result.Success ? result.Value : 0;
    }

    private async Task DecrementCount()
    {
        currentCount--;
        await storage.SetAsync(COUNTER_KEY, currentCount!.Value);
    }

    private void BackToPreviousPage()
    {
        nav.NavigateTo("/Samples/ServerSessionCounter");
    }


}
