@page "/Utilities/RaiseExceptionWASM"
@rendermode InteractiveWebAssemblyWithoutPrerendering

<PageTitle>例外発生</PageTitle>

<h3>サンプル例外発生</h3>
<p>このコンポーネントは現在 @(OperatingSystem.IsBrowser() ? "WASM" : "Server") で動作しています。</p>

<p>ボタンを押下するとゼロ除算例外を発生させます。</p>

<fieldset>
    <input type="button" @onclick="RaiseSampleException" class="btn btn-primary" value="例外発生" />
</fieldset>

@code {
    // 外部パラメータ

    // ビューモデル

    // イベントハンドラ(アプリケーション処理)
    protected void RaiseSampleException()
    {
        int a = 0;
        int b = 0;
        int c = a / b;
    }

}
