@page "/BizGroupC/ShowAllAuthors/ListAuthors3"
@attribute [StreamRendering(true)]

@* アプリケーションサービス *@
@inject IDbContextFactory<PubsDbContext> dbFactory

<PageTitle>著者データ一覧</PageTitle>

<h3>著者データ一覧</h3>

<hr />

@if (authors == null)
{
    <p><em>現在データを取得中です...</em></p>
}
else if (authors.Count == 0)
{
    <p><em>データが一件もありません。</em></p>
}
else
{
    <div class="table-responsive">
        <AuthorsQuickGrid Authors="@authors" />
    </div>
}

@code {
    // 外部パラメータ

    // ビューモデル
    List<Author>? authors { get; set; } = new List<Author>();

    // イベントハンドラ(アプリケーション処理)
    protected override async Task OnInitializedAsync()
    {
        authors = null;
        await Task.Delay(1000);
        using (var pubs = dbFactory.CreateDbContext())
        {
            authors = await pubs.Authors.ToListAsync();
        }
    }
}
