::deep table {
    min-width: 100%;
}

::deep thead {
    background-color: #DDFFDD;
}

::deep tr {
    border-bottom: 0.5px solid silver;
}

::deep tbody td {
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    text-overflow: ellipsis;
}

::deep tbody tr {
    background-color: rgba(0,0,0,0.04);
}

::deep tbody tr:nth-child(odd) {
    background: rgba(255,255,255,0.4);
}
